<div class="container bootstrap snippets bootdey" *ngIf="showScreen">
  <div class="tile tile-alt" id="messages-main">
    <div class="ms-menu" [class.toggled]="menuToggled">
      <div class="ms-user clearfix">
        <img [src]="currentUser?.image" alt="" class="img-avatar pull-left">
        <div>{{currentUser?.name}} <br> m-hollaway&#64;gmail.com</div>
      </div>


      <div class="list-group lg-alt">
        <!-- {{selectedUser | json}} -->
        <a class="list-group-item media" [ngClass]="user?.phone === selectedUser?.phone && 'active'"
          *ngFor="let user of userList" (click)="selectUserHandler(user?.phone); toggleMenu()">
          <div class="pull-left">
            <img [src]="user?.image" alt="" class="img-avatar">
          </div>
          <div class="media-body">
            <small class="list-group-item-heading">{{user?.name}}</small>
            <!-- <small class="list-group-item-text c-gray">Fierent fastidii recteque ad pro</small> -->
          </div>
        </a>

      </div>
      <!-- footer -->
      <div class="ms-footer">
        <!-- <button (click)="toggleMenu()">Toggle Menu</button> -->
        <small>This project is made with <i class="fa-solid fa-heart" style="color: red;"></i> by <br> <a href="https://rajkiranjaiswar.com" target="_blank">Rajkiran Jaiswar</a></small>
      </div>

    </div>

    <div class="ms-body">
      <div class="action-header clearfix">
        <div class="visible-xs" (click)="toggleMenu()" id="ms-menu-trigger">
          <i class="fa fa-bars"></i>
        </div>

        <div class="pull-left hidden-xs" *ngIf="selectedUser">
          <img [src]="selectedUser?.image" alt="" class="img-avatar m-r-10">
          <div class="lv-avatar pull-left">

          </div>
          <span>{{selectedUser.name}}</span>
        </div>
        <!-- {{dateTime | date: "hh:mm:ss dd:MM:yyyy"}} -->
        <ul class="ah-actions actions">
          <li>
            <span>{{version}}</span>

          </li>
          <!-- <li>
            <a href="">
              <i class="fa fa-trash"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-check"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-clock-o"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-sort"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="">Latest</a>
              </li>
              <li>
                <a href="">Oldest</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-bars"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="">Refresh</a>
              </li>
              <li>
                <a href="">Message Settings</a>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>

      <div class="chat-box" *ngIf="selectedUser">


        <div class="msg-body" #msgBody>
          {{currentUser | json}}
          <br>
          <br>
          {{messageArray | json}}
          <div class="message-feed " *ngFor="let item of messageArray"
            [ngClass]="item?.user === currentUser?.name ? 'right' : 'media'">
            <!-- <div class="pull-left">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-avatar">
            </div> -->
            {{item?.user}} , {{currentUser?.name}}
            <div class="media-body">
              <div class="mf-content">
                {{item?.message}}
              </div>
              <small class="mf-date"><i class="fa fa-clock-o"></i> {{item.dateTime | date: "hh:mm:ss dd:MM:yyyy"}}</small>
            </div>
          </div>

          <!-- <div class="message-feed right">
          <div class="pull-right">
            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar">
          </div>
          <div class="media-body">
            <div class="mf-content">
              Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar
              lobortis.
            </div>
            <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 09:30</small>
          </div>
        </div> -->


        </div>

        <div class="msb-reply">
          <!-- <textarea placeholder="What's on your mind..."></textarea> -->
          <input type="text" placeholder="Type a message" class="form-control" [(ngModel)]="messageText"
            (keyup)="$event.keyCode === 13 && sendMessage()" />
          <button (click)="messageText !== '' ? sendMessage() : ''"><i class="fa fa-paper-plane-o"></i></button>
        </div>

      </div>
      <div class="msg-body" *ngIf="!selectedUser ">
        <div class="user-notSelected">
          <span>Please select user to chat</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-login [showScreen]="showScreen" (valueEmitter)="valueRecievedOutput($event)"></app-login>