<div class="container bootstrap snippets bootdey" *ngIf="showScreen">
  <div class="tile tile-alt" id="messages-main">
    <div class="ms-menu" [class.toggled]="menuToggled">
      <div class="ms-user clearfix">
        <img [src]="currentUser?.image" alt="" class="img-avatar pull-left">
        <div>{{currentUser.name}} <br> m-hollaway&#64;gmail.com</div>
      </div>

      <div class="p-15">
        <div class="dropdown">
          <a class="btn btn-primary btn-block" data-toggle="dropdown">Messages <i class="caret m-l-5"></i></a>

          <ul class="dropdown-menu dm-icon w-100">
            <li><a ><i class="fa fa-envelope"></i> Messages</a></li>
            <li><a ><i class="fa fa-users"></i> Contacts</a></li>
            <li><a ><i class="fa fa-format-list-bulleted"> </i>Todo Lists</a></li>
          </ul>
        </div>
      </div>

      <div class="list-group lg-alt">
        <!-- {{selectedUser | json}} -->
        <a class="list-group-item media" [ngClass]="user?.phone === selectedUser?.phone && 'active'" *ngFor="let user of userList"
          (click)="selectUserHandler(user?.phone)">
          <div class="pull-left">
            <img [src]="user.image" alt="" class="img-avatar">
          </div>
          <div class="media-body">
            <small class="list-group-item-heading">{{user.name}}</small>
            <!-- <small class="list-group-item-text c-gray">Fierent fastidii recteque ad pro</small> -->
          </div>
        </a>

        <!-- <a class="list-group-item media" href="">
          <div class="pull-left">
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="img-avatar">
          </div>
          <div class="media-body">
            <div class="list-group-item-heading">Ann Watkinson</div>
            <small class="list-group-item-text c-gray">Cum sociis natoque penatibus </small>
          </div>
        </a> -->

      </div>


    </div>

    <div class="ms-body">
      <div class="action-header clearfix">
        <div class="visible-xs" (click)="toggleMenu()" id="ms-menu-trigger">
          <i class="fa fa-bars"></i>
        </div>

        <div class="pull-left hidden-xs" *ngIf="selectedUser" >
          <img [src]="selectedUser?.image" alt="" class="img-avatar m-r-10">
          <div class="lv-avatar pull-left">

          </div>
          <span>{{selectedUser.name}}</span>
        </div>

        <ul class="ah-actions actions">
          <li>
            <a href="">
              <i class="fa fa-trash"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-check"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-clock-o"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-sort"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="">Latest</a>
              </li>
              <li>
                <a href="">Oldest</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-bars"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="">Refresh</a>
              </li>
              <li>
                <a href="">Message Settings</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="msg-body">

        <div class="message-feed " *ngFor="let item of messageArray" [ngClass]="item?.user === currentUser?.name ? 'right' : 'media'">
          <!-- <div class="pull-left">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-avatar">
          </div> -->
          <div class="media-body">
            <div class="mf-content">
              {{item?.message}}
            </div>
            <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 09:00</small>
          </div>
        </div>

        <!-- <div class="message-feed right">
          <div class="pull-right">
            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar">
          </div>
          <div class="media-body">
            <div class="mf-content">
              Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar
              lobortis.
            </div>
            <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 09:30</small>
          </div>
        </div> -->


      </div>

      <div class="msb-reply">
        <!-- <textarea placeholder="What's on your mind..."></textarea> -->
        <input type="text" placeholder="Type a message" class="form-control" [(ngModel)]="messageText"
        (keyup)="$event.keyCode === 13 && sendMessage()" />
        <button (click)="sendMessage()"><i class="fa fa-paper-plane-o"></i></button>
      </div>
    </div>
  </div>
</div>

<app-login [showScreen] = "showScreen" (valueEmitter)="valueRecievedOutput($event)"></app-login>